{% extends 'base.html.twig' %} {# Extend your base layout #}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/burger.js') }}"></script>
        <script src="{{ asset('js/ajaxQuestion.js') }}"></script>
{% endblock %}


{% block title %}Le Cahier{% endblock %}

{% block body %}

    <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    <div class="container">

    <aside class="sidebar">
        {% for niveau in niveaux %}
            <div class="niveau">
                <h3>{{ niveau.nom }}</h3>
                <ul>
                    {% for classe in niveau.classes %}
                        <li><a class="load-questions" data-classe-id="{{ classe.id }}">{{ classe.nom }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </aside>
    <div class="questions-container" id="questions-container">
    
    </div>
</div>

<script>
    var classeId = '{{ classeId.id }}';
</script>

{% endblock %}

