{% for flash_message in app.flashes('notice') %}
    <div class="alert alert-notice">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
{# templates/question/new.html.twig #}

{% extends 'base.html.twig' %} {# Extend your base layout #}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/newQuestion.css') }}">
{% endblock %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create a New Question</h1>

    {{ form_start(form) }}

    {# Render each form field individually. For example: #}
    {{ form_row(form.dateValidite) }}
    {{ form_row(form.classe) }}
    {{ form_row(form.professeur) }}
    {{ form_row(form.question) }}
    {{ form_row(form.reponse) }}
    {# ... Add other fields as necessary #}

    {# Submit button #}
    <button class="btn btn-primary">Submit</button>

    {{ form_end(form) }}

    {# Optionally, add a link to go back to the list of questions #}
    <a href="{{ path('app_home') }}">Back to the list</a>
{% endblock %}