{% extends 'base.html.twig' %} 

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/newQuestion.css') }}">
{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/newQuestion.js') }}"></script>
{% endblock %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create a New Question</h1>

    {{ form_start(form) }}

    {{ form_row(form.codeProfesseur) }}
    {{ form_row(form.dateValidite) }}
    {{ form_row(form.classe) }}
    {{ form_row(form.question) }}
    {{ form_row(form.reponse) }}

    <button class="btn btn-primary">Submit</button>

    {{ form_end(form) }}

    <a href="{{ path('app_home') }}">Back to the list</a>
{% endblock %}