<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# Link to your main stylesheet #}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/alert.css') }}">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="{{ asset('js/alert.js') }}"></script>
        {# Any global JavaScript files #}
    {% endblock %}
</head>
<body>
    <header>
        {# Your site's header content, like a navigation bar #}
        <nav>
            {# Navigation items #}
        </nav>
    </header>

    <main>
    {% for flash_message in app.flashes('notice') %}
    <div class="alert alert-notice">
        {{ flash_message }}
        <button class="alert-close-btn">&times;</button>
    </div>
    {% endfor %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger" onclick="closeAlert(this)">
            {{ flash_message }}
            <button class="alert-close-btn">&times;</button>
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
            <button class="alert-close-btn">&times;</button>
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
    </main>

    <footer>
        {# Your site's footer content #}
    </footer>

    {% block additional_scripts %}
    {# Additional scripts can be added by child templates #}
    {% endblock %}
</body>
</html>